.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://image.winudf.com/v2/image1/Y29tLmx1ZHljb20uYmlsc3NlcnZpY2Vfc2NyZWVuXzFfMTU0NTkyMzcyNF8wMzk/screen-1.jpg?fakeurl=1&type=.jpg');
  background-size: cover;
  background-position: center center;
}
.invalid-feedback
{
  margin-left: 25px;
}